.login-form {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    padding         : 2rem;
    z-index         : 200;
    display         : none;
    align-items     : center;
    justify-content : center;
    background-color: rgba(0, 0, 0, .7);


    /* When user click then active this section by JS */ 
    &.userClick {
        display: flex;
    }

    form {
        width           : 50rem;
        padding         : 4rem;
        text-align      : center;
        background-color: $white;
        position        : relative;
        animation       : fadeIn .3s linear;
        /* fadeIn define at styles.scss section */

        #closeBtn {
            position  : absolute;
            top       : -4rem;
            right     : 0;
            cursor    : pointer;
            transition: .2s ease;
            @include fontStyle(3rem, $white);

            &:hover {
                color    : red;
                transform: rotate(90deg);
            }
        }

        .logo {
            @include fontStyle(2.5rem, $main-color);
            font-weight: bolder;
        }

        h3 {
            padding   : 1rem 0;
            margin-top: 1rem;
            @include titleText(2rem);
        }

        .box {
            width    : 100%;
            padding  : 1.2rem 1.4rem;
            border   : $border;
            margin   : 1rem 0;
            font-size: 1.6rem;
        }

        .flex {
            display      : flex;
            align-items  : center;
            gap          : .5rem;
            margin-bottom: 1rem;

            label {
                @include paragraph(1.5rem);
                cursor: pointer;
            }

            a {
                margin-left: auto;
                @include fontStyle(1.5rem, $main-color);

                &:hover {
                    text-decoration: underline !important;
                }
            }


        }

        .link-btn {
            width        : 100%;
            margin-bottom: 2rem;
        }

        .account {
            padding   : 1.5rem 0.5rem;
            background: $light-bg;
            @include paragraph(1.5rem);

            a {
                color: $main-color;

                &:hover {
                    text-decoration: underline !important;
                }
            }
        }
    }
}