@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
/* 21 - Jan - 2022  */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  list-style: none;
  text-decoration: none !important;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  transition: all .1s linear;
  /* user-select    : none; */ }

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem; }
  html::-webkit-scrollbar {
    width: 1rem; }
  html::-webkit-scrollbar-track {
    background-color: transparent; }
  html::-webkit-scrollbar-thumb {
    background-color: #512a10; }

section {
  padding: 5rem 1rem; }

.heading {
  text-align: center;
  margin-bottom: 4rem;
  color: #222;
  font-size: 3rem;
  text-transform: capitalize; }

.link-btn {
  margin-top: 1rem;
  padding: 1rem 3rem;
  display: inline-block;
  border: 0.1rem solid #512a10;
  cursor: pointer;
  font-size: 1.7rem;
  color: #512a10; }
  .link-btn:hover {
    background-color: #512a10;
    color: #FFF; }

.home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center; }
  .home span {
    font-size: 2.5rem;
    color: #FFF; }
  .home h3 {
    padding: 1rem 0;
    font-size: 6rem;
    color: #FFF; }
  .home .link-btn {
    color: #FFF;
    border-color: #FFF; }

@keyframes fadeIn {
  0% {
    transform: translateY(-2.5rem);
    opacity: 0; } }
.header {
  padding: 4rem 0;
  z-index: 100;
  /* By scrolling header background color change */ }
  .header.userScroll {
    padding: 1.5rem 0;
    transition: .5s ease;
    background-color: #512a10; }
  .header .logo {
    font-size: 2.5rem;
    color: #FFF;
    font-weight: border; }
  .header .nav a {
    font-size: 2rem;
    color: #FFF;
    margin-right: 2rem; }
    .header .nav a:hover {
      text-decoration: underline !important;
      text-underline-offset: .5rem; }
  .header .icons div {
    font-size: 2.5rem;
    color: #FFF;
    margin-left: 2rem;
    cursor: pointer; }
  .header #menu-btn {
    display: none; }

.login-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  z-index: 200;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  /* When user click then active this section by JS */ }
  .login-form.userClick {
    display: flex; }
  .login-form form {
    width: 50rem;
    padding: 4rem;
    text-align: center;
    background-color: #FFF;
    position: relative;
    animation: fadeIn .3s linear;
    /* fadeIn define at styles.scss section */ }
    .login-form form #closeBtn {
      position: absolute;
      top: -4rem;
      right: 0;
      cursor: pointer;
      transition: .2s ease;
      font-size: 3rem;
      color: #FFF; }
      .login-form form #closeBtn:hover {
        color: red;
        transform: rotate(90deg); }
    .login-form form .logo {
      font-size: 2.5rem;
      color: #512a10;
      font-weight: bolder; }
    .login-form form h3 {
      padding: 1rem 0;
      margin-top: 1rem;
      color: #222;
      font-size: 2rem;
      text-transform: capitalize; }
    .login-form form .box {
      width: 100%;
      padding: 1.2rem 1.4rem;
      border: 0.1rem solid #512a10;
      margin: 1rem 0;
      font-size: 1.6rem; }
    .login-form form .flex {
      display: flex;
      align-items: center;
      gap: .5rem;
      margin-bottom: 1rem; }
      .login-form form .flex label {
        color: #222;
        font-size: 1.5rem;
        line-height: 2;
        margin-bottom: 0;
        cursor: pointer; }
      .login-form form .flex a {
        margin-left: auto;
        font-size: 1.5rem;
        color: #512a10; }
        .login-form form .flex a:hover {
          text-decoration: underline !important; }
    .login-form form .link-btn {
      width: 100%;
      margin-bottom: 2rem; }
    .login-form form .account {
      padding: 1.5rem 0.5rem;
      background: #EEE;
      color: #222;
      font-size: 1.5rem;
      line-height: 2;
      margin-bottom: 0; }
      .login-form form .account a {
        color: #512a10; }
        .login-form form .account a:hover {
          text-decoration: underline !important; }

.about span {
  font-size: 2.5rem;
  color: #512a10; }
.about .title {
  padding-top: 1rem;
  color: #222;
  font-size: 2.6rem;
  text-transform: capitalize; }
.about p {
  padding: 1rem 0;
  color: #222;
  font-size: 1.5rem;
  line-height: 2;
  margin-bottom: 0; }
.about .icons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 3rem; }
  .about .icons-container .icons {
    padding: 2rem;
    background-color: #EEE;
    text-align: center;
    flex: 1 1 14rem; }
    .about .icons-container .icons i {
      font-size: 4rem;
      margin-bottom: 1.5rem;
      color: #512a10; }
    .about .icons-container .icons h3 {
      color: #222;
      font-size: 1.5rem;
      text-transform: capitalize; }

.menu {
  background-color: #EEE; }
  .menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem; }
    .menu .box-container .box {
      text-align: center;
      padding: 3rem 2rem;
      border-radius: .5rem; }
      .menu .box-container .box:hover {
        background-color: #FFF;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        transform: translateY(-1rem); }
      .menu .box-container .box img {
        height: 15rem;
        margin-bottom: 2rem; }
      .menu .box-container .box h3 {
        color: #222;
        font-size: 2rem;
        text-transform: capitalize; }
      .menu .box-container .box p {
        padding: 1rem 0;
        color: #222;
        font-size: 1.5rem;
        line-height: 2;
        margin-bottom: 0; }

.gallery {
  max-width: 1120px;
  margin: 0 auto; }
  .gallery .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem; }
    .gallery .box-container .box {
      position: relative;
      overflow: hidden;
      height: 25rem; }
      .gallery .box-container .box img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
      .gallery .box-container .box:hover {
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        border: 0.1rem solid #512a10; }
        .gallery .box-container .box:hover img {
          transform: translateY(-100%); }
        .gallery .box-container .box:hover .content {
          transform: translateY(0); }
      .gallery .box-container .box .content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        padding: 4.5rem 2rem 3rem;
        text-align: center;
        background-color: #FFF; }
        .gallery .box-container .box .content h3 {
          color: #222;
          font-size: 2rem;
          text-transform: capitalize; }
        .gallery .box-container .box .content p {
          padding: 1rem 0;
          color: #222;
          font-size: 1.5rem;
          line-height: 2;
          margin-bottom: 0; }

@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 8rem; }

  .home h3 {
    font-size: 4rem; }

  section {
    padding: 3rem 0; } }
@media (max-width: 768px) {
  .header {
    padding: 4rem 2rem; }
    .header.userScroll {
      padding: 2rem; }
    .header #menu-btn {
      display: inline-block; }
      .header #menu-btn.fa-times {
        transform: rotate(180deg); }
    .header .nav {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background-color: #FFF;
      flex-flow: column;
      padding: 1rem 0;
      transition: .2s ease;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      /* effect active by JS | when user click */ }
      .header .nav.userClick {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
      .header .nav a {
        text-align: center;
        margin: 1rem 2rem;
        color: #FFF;
        border-radius: .5rem;
        padding: 0.5rem;
        background-color: rgba(81, 42, 16, 0.8); }

  .login-form form {
    padding: 3rem 2rem; }
    .login-form form h3 {
      font-size: 1.7rem; } }
@media (max-width: 450px) {
  html {
    font-size: 50%; } }

/*# sourceMappingURL=style.css.map */
