@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

/* 21 - Jan - 2022  */

* {
    margin            : 0;
    padding           : 0;
    border            : 0;
    outline           : none;
    list-style        : none;
    text-decoration   : none !important;
    scroll-behavior   : smooth;
    box-sizing        : border-box;
    font-family       : 'Nunito', sans-serif;
    transition        : all .1s linear;
    /* user-select    : none; */
}

@import 'variables';

html {
    font-size         : 62.5%;
    overflow-x        : hidden;
    scroll-padding-top: 6rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $main-color;
    }
}

section {
    padding: 5rem 1rem;
}

.heading {
    text-align   : center;
    margin-bottom: 4rem;
    @include titleText(3rem);
}

.link-btn {
    margin-top: 1rem;
    padding   : 1rem 3rem;
    display   : inline-block;
    border    : $border;
    cursor    : pointer;
    @include fontStyle(1.7rem, $main-color);

    &:hover {
        background-color: $main-color;
        color           : $white;
    }
}

.home {
    background         : linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/home-bg.jpg) no-repeat;
    background-size    : cover;
    background-position: center;

    span {
        @include fontStyle(2.5rem, $white);
    }


    h3 {
        padding: 1rem 0;
        @include fontStyle(6rem, $white);
    }

    .link-btn {
        color       : $white;
        border-color: $white;
    }
}

.menu {

    background-color: $light-bg;

    .box-container {
        @include grid(30rem);

        .box {
            text-align   : center;
            padding      : 3rem 2rem;
            border-radius: .5rem;

            &:hover {
                background-color: $white;
                box-shadow      : $box-shadow;
                transform       : translateY(-1rem);
            }

            img {
                height       : 15rem;
                margin-bottom: 2rem;
            }

            h3 {
                @include titleText(2rem);
            }

            p {
                padding: 1rem 0;
                @include paragraph(1.5rem);
            }
        }
    }

}


@keyframes fadeIn {
    0% {
        transform: translateY(-2.5rem);
        opacity  : 0;
    }
}

@import 'header';
@import 'loginForm';
@import 'about';
@import 'responsiveness';